body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(18, 27, 15);
    font-weight: bold;
    background: radial-gradient(circle, rgba(191, 238, 174, 1) 0%, rgba(148, 233, 222, 1) 100%);
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

button {
    background: goldenrod;
    color: #016f32;
    width: 20vh;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;

}